<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li [routerLinkActive]="'active'" class="nav-item">
                <a class="nav-link" [routerLink]="'resources'">Resources</a>
            </li>
            <li [routerLinkActive]="'active'" class="nav-item">
                <a class="nav-link" [routerLink]="'tools'">Tools</a>
            </li>
        </ul>
        <span class="navbar-banner">
            <img class="logo" src="assets/images/everdrone-banner.png" alt="not working">
        </span>
    </nav>
</div>