.logo {

    border-style: dotted;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding: 10px;
    height: 10rem;;
    width: 10rem;
}

.text {
    padding-top: 0.5rem;
    font-size: medium;
    text-align: center;
    margin-bottom: 2rem;
}